body{
    margin: 0;
    padding: 0;
}

.display-none{
    display: none;
}

.container_header{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 12px solid rgba(237, 25, 37, 1);
    height: 70px;
    box-shadow: 0 9px 30px rgba(0, 0, 0, 0.25);
}

.block_left{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu{
    margin-left: 17px;
    margin-right: 17px;
    border-radius: 30px;
    border: 0 solid;
    background: initial;
}

.title_header{
    font-family: 'Geometria Narrow';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.icon_search{
    margin-right: 10px;
    border-radius: 30px;
    border: 0 solid;
    background: initial;
}

.shop{
    margin-right: 15px;
    border-radius: 30px;
    border: 0 solid;
    background: initial;
}

.search{
    width: 80%;
    border: 0 solid;
    font-size: 18px;
}

.container_popup{
    background: white;
    z-index: 1;
    width: 50%;
    top: 30%;
    left: 25%;
    position: absolute;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 51px;
    padding-left: 22px;
    box-shadow: 0 9px 30px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: 0 solid;
}

.popup_wrapper{
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.icon_x{
    padding-right: 15px;
    right: 0;
    position: absolute;
}

.container_products{
    position: relative;
    z-index: -1;
}

.product{
    width: 246px;
    height: auto;
}

.product_wrapper{
    display: flex;

}